@keyframes errorAppear {
  from {
    opacity: 0;

    transform: translate3d(0, -#{space(xs)}, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

.input-field {
  width: 100%;

  &__label {
    display: block;

    margin-bottom: space("xxs");

    font-size: 1.4rem;
    color: $c-grey;
  }

  &__input {
    width: 100%;

    padding: space("xs") 1.3rem;

    border: 1px solid $c-grey;
    border-radius: 1rem;
    outline: 0;

    @include transition(border, box-shadow);

    &:focus {
      border: 1px solid $c-blue;
      box-shadow: 0 4px 20px rgba($c-black, .1);
    }
  }

  &__error {
    margin-top: space("xxs");

    font-size: 12px;
    color: $c-error;

    opacity: 0;

    transform: translate3d(0, -#{space(xs)}, 0);

    animation: errorAppear 300ms cubic-bezier(.8, .1, 0, 1) forwards;
  }
}