* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

html,
body {
  min-height: 100%;
}

html {
  font-size: (100% / 1.6); // 1rem = 10px
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;

  background-color: $c-blue-100;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
