html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol,
figure,
legend,
fieldset,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border-style: none;
  color: inherit;
  font-size: 1em;
  background-color: transparent;
  appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

select {
  appearance: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  appearance: none;
}

/*img {
  max-width: 100%;
  height: auto;
}*/

svg {
  max-width: 100%;
  color: inherit;
  fill: currentColor;
}

iframe {
  border: 0;
  max-width: 100%;
}

blockquote {
  margin: 0;
}

details,
details summary {
  appearance: none;

  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }
}
