.btn {
  margin-top: space("l");
  padding: space("s") space("l");

  background-color: var(--theme-bg-color);

  font-size: 1.6rem;
  font-weight: 700;

  border-radius: 2rem;
  border: 2px solid var(--theme-color);

  cursor: pointer;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: var(--theme-color);
    color: var(--theme-bg-color);
  }
}