.btn {
  margin-top: space("l");
  padding: space("s") space("l");

  background-color: $c-white;

  font-size: 1.6rem;
  font-weight: 700;
  color: $c-blue;

  border-radius: 2rem;
  border: 2px solid $c-blue;

  cursor: pointer;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: $c-blue;

    color: $c-white;
  }
}