.form {
  width: 100%;

  &__grid {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-gap: space("m");

    @media (min-width: $sm) {
      grid-template: 1fr / 1fr 1fr;
      grid-gap: space("l");
    }
  }
}

@import "./fields/input/InputField";
@import "./fields/slider/Slider";
@import "./fields/frequency/Frequency";
