@font-face {
  font-family: "digital-7";
  src: url("/fonts/digital-7-monospace-webfont.woff2") format("woff2"),
       url("/fonts/digital-7-monospace-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}