@keyframes toastAppear {
  0% {
    opacity: 0;

    transform: translate3d(0, 0, 0);
  }

  10%,
  85% {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;

    transform: translate3d(125%, 0, 0);
  }
}

@keyframes toastLine {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.toast {
  position: fixed;
  top: 2rem;
  right: 2rem;

  max-width: 34rem;

  padding: space("s") space("xl") 1.6rem space("m");

  background-color: $c-blue;
  border-radius: 1.5rem;
  overflow: hidden;

  box-shadow: 0 .5rem 2rem rgba($c-grey-300, .1);

  font-size: 1.6rem;
  font-weight: 700;
  color: $c-white;
  user-select: none;

  animation: toastAppear 5s cubic-bezier(.7, -0.5, 0, 1.2) forwards;

  &__close {
    content: "";

    position: absolute;
    top: 1.6rem;
    right: space("s");

    width: 1.5rem;
    height: 1.6rem;
    border-radius: 50%;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 83'%3E%3Cpath fill='%23fff' fill-rule='nonzero' d='M78.8 69.5L50.6 41.3l28.2-28.2a2.9 2.9 0 000-4.2L70.3.4 40 30.7 9.6.3 1.1 8.8a2.9 2.9 0 000 4.2l28.2 28.2L1.2 69.5a2.9 2.9 0 000 4.2l8.5 8.5L40 51.9l30.4 30.4 8.5-8.5a3.1 3.1 0 00-.1-4.3z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    width: 100%;
    height: 4px;

    background-color: $c-light-blue;

    transform: scaleX(1);
    transform-origin: 0% 50%;

    animation: toastLine 4.5s linear forwards;
  }
}
