.form {
  width: 100%;

  &__grid {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-gap: space("m");

    @media (min-width: $sm) {
      grid-template: 1fr / 1fr 1fr;
      grid-gap: space("l");
    }
  }

  button {
    margin-top: space("l");
    padding: space("s") space("l");

    background-color: $c-white;

    font-size: 1.6rem;
    font-weight: 700;
    color: $c-blue;

    border-radius: 2rem;
    border: 2px solid $c-blue;

    cursor: pointer;

    @include transition(background-color, color);

    &:hover,
    &:focus {
      background-color: $c-blue;

      color: $c-white;
    }
  }
}

@import "./fields/InputField";
