@keyframes fadeInTranslate {
  from {
    opacity: 0;

    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

.card {
  position: relative;

  padding: 3.5rem space("l");

  background-color: $c-white;

  border-radius: 2rem;

  box-shadow: 0 .5rem 2rem rgba($c-grey-300, .1);

  &__title {
    display: block;

    margin-bottom: space("m");

    font-size: 2.8rem;
    font-weight: 700;
    color: $c-grey-300;
  }

  opacity: 0;

  animation: fadeInTranslate 850ms cubic-bezier(.4, .12, 0, 1) forwards;
}

@for $i from 1 to 5 {
  .card:nth-child(#{$i}) {
    animation-delay: $i * 75ms;
  }
}
