.card {
  position: relative;

  padding: 3.5rem space("l");

  background-color: var(--theme-contrast-color);
  border-radius: 2rem;
  box-shadow: 0 .5rem 2rem rgba($c-grey-300, .1);
  opacity: 0;

  animation: fadeInTranslate 850ms cubic-bezier(.4, .12, 0, 1) forwards;
  @include transition(background-color, color);

  &__title {
    display: block;

    font-size: 2.8rem;
    font-weight: 700;
  }

  &__content {
    margin-top: space("m");
  }
}

@for $i from 1 to 5 {
  .card:nth-child(#{$i}) {
    animation-delay: $i * 75ms;
  }
}
