.toggle-card {
  &__label {
    display: flex;
    align-items: center;

    font-size: 2.8rem;
    font-weight: 700;
    color: $c-grey-300;
  }

  &__checkbox {
    width: 2rem;
    height: 2rem;

    margin-right: space("xs");
    
    appearance: auto;
  }

  &__content {
    margin-top: space("m");

    opacity: 0;

    transform: translate3d(0, #{space("m")}, 0);
    animation: fadeInTranslate $animation-speed--default $animation-transition--default forwards;
  }
}