.frequency {
  &__display {
    position: relative;

    font-family: "digital-7";
    font-size: 8rem;

    user-select: none;

    &::after {
      content: "000.000.000";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      font-family: "digital-7";
      font-size: 8rem;
      color: $c-grey-100;
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: space("s");

    @media (min-width: $sm) {
      margin-top: space("m");
    }
  }

  &__btn {
    width: calc(50% - #{space("xxs")});

    padding: .4rem space("m");

    font-size: 2.8rem;
    line-height: 1;

    background-color: $c-white;
    border: 2px solid var(--theme-color);
    border-radius: 2rem;

    cursor: pointer;

    @include transition(background-color, color);

    &:first-child {
      // Because "-" doesnt want to vertical align
      padding-top: .2rem;
      padding-bottom: .6rem;
    }

    &:hover,
    &:focus {
      background-color:var(--theme-color);
      color: var(--theme-bg-color);
    }
  }
}